// :root{
//     --svg-color:  #95e1d3;
//     --menu-color: #f38181;
//     --text-color: #333;
//     --text-two-color: #b6b6b6;
//     --title-big-color: #fff;
//     --back-background: ;
//     --backk-tw-background: ;
//     --color-svg: ;
//   }

  $svg-color:  #95e1d3;
  $menu-color: #f38181;
  $text-color: #333;
  $text-two-color: #b6b6b6;
  $title-big-color: #fff;